<div class="">
    <app-info-card class="block md:col-span-4 text-center">
        <h1 class="text-xl font-bold">Sobre nosotros</h1>
        <h2 class="text-4xl font-bold">Optimiza tu infraesructura</h2>
        <h3 class="text-xl font-medium">Empoderando negocios con infraesructura IT
            adaptable para cualquier reto de esta
            era digital
        </h3>
    </app-info-card>

    <app-info-card class="block md:col-start-2 md:col-span-3 md:row-start-2 md:row-span-1"></app-info-card>
    <app-info-card class="block md:col-start-1 md:col-span-1">
        <h4>Soluciones IT</h4>
        <h5>Soluciones especializadas para su negocio</h5>
        <p>Desde StartUPS hasta compañias establecidas, personalizamos y optimizamos el servicio para cada uno.</p>
    </app-info-card>

    <!-- 4. SECCIÓN INFERIOR (Call to Action) -->
    <app-info-card class="block md:col-start-1 md:col-span-4 text-center">
        <h6 class="text-2xl font-bold text-white mb-4 md:mb-0">Experiencia en soporte IT</h6>
        <button class="bg-text hover:bg-text-muted text-bg font-semibold py-2 px-20 rounded">
            Nuestra infraestructura completa
        </button>
    </app-info-card>








    <!--
    <h1>Sobre nosotros</h1>
    <h2>Optimiza tu infraesructura</h2>
    <h3>Empoderando negocios con infraesructura IT adaptable para cualquier reto de esta
        era digital
    </h3>
    <div></div>
    <h4>Soluciones IT</h4>
    <h5>Soluciones especializadas para su negocio</h5>
    <p>Desde StartUPS hasta compañias establecidas, personalizamos y optimizamos el servicio para cada uno.</p>
    <div></div>
    <h6>Experiencia en soporte IT</h6>
    <button>Nuestra infraesructura completa</button>-->
</div>