<main class="grid grid-cols-1 md:grid-cols-4 gap-2 bg-bg-dark mt-3.5 p-2 rounded-xl w-full max-w-7xl mx-auto">
    <app-info-card class="block md:col-span-4 text-center">
        <h1 class="text-xl font-bold">Tu infraestructura para PYMES</h1>
    </app-info-card>

    <app-info-card class="block md:col-span-3 text-center">
        <h2 class="text-lg font-semibold">Subtítulo H2</h2>
    </app-info-card>

    <app-info-card class="block md:col-span-3 text-center">
        <h3 class="text-md font-medium">Sección H3</h3>
    </app-info-card>

    <app-info-card class="block md:col-span-3 text-center">
        <button class="bg-text hover:bg-text-muted text-bg font-semibold py-2 px-4 rounded">Acción</button>
    </app-info-card>

    <app-info-card class="block md:col-start-4 md:row-start-2 md:row-span-3">
        <p>Espacio derecho (Elemento 5)</p>
    </app-info-card>
</main>