<nav
    class="bg-bg-dark border border-border grid grid-cols-2 justify-between items-center md:min-w-[50vw] md:max-w-[50vw] md:min-h-[10vh] md:max-h-[10vh] min-w-[95vw] max-w-[95vw] min-h-[70px] md:mt-20 mt-4 px-6 md:px-12 relative rounded-2xl z-50">

    <!-- Enlaces / Logo -->
    <app-nav-bar-routes class="grid justify-self-start"></app-nav-bar-routes>

    <!-- Botones de Escritorio y Menú Hamburguesa Móvil -->
    <div class="grid justify-self-end items-center grid-flow-col gap-4">
        <!-- Botones de Escritorio -->
        <app-nav-bar-buttons class="hidden md:grid"></app-nav-bar-buttons>

        <!-- Botón de Menú Móvil -->
        <button (click)="toggleMenu()" class="btn btn-ghost md:hidden p-2 text-text hover:bg-bg focus:outline-none"
            aria-label="Toggle Menu">
            @if (!isMenuOpen) {
            <!-- Icono de Hamburguesa -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            } @else {
            <!-- Icono de Cerrar (X) -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            }
        </button>
    </div>

    <!-- Menú Desplegable Móvil -->
    @if (isMenuOpen) {
    <div
        class="absolute top-[110%] left-0 w-full bg-bg-dark border border-border rounded-xl p-6 grid grid-cols-1 gap-4 shadow-lg md:hidden z-50">
        <!-- Enlaces Móviles -->
        <div class="grid grid-cols-1 gap-2 text-center">
            <a routerLink="/services-it" (click)="closeMenu()"
                class="p-3 font-semibold text-lg btn btn-ghost rounded-xl text-text hover:bg-bg w-full">Servicio</a>
            <a routerLink="/contact" (click)="closeMenu()"
                class="p-3 font-semibold text-lg btn btn-ghost rounded-xl text-text hover:bg-bg w-full">Contacto</a>
        </div>
        <!-- Divisor -->
        <div class="border-t border-border my-1"></div>
        <!-- Botones Móviles -->
        <div class="grid grid-cols-1 gap-3">
            <a routerLink="/login" (click)="closeMenu()"
                class="btn w-full py-4 bg-text text-bg font-semibold text-lg hover:bg-text-muted rounded-xl text-center">Log
                in</a>
            <a routerLink="/sign-up" (click)="closeMenu()"
                class="btn w-full py-4 font-semibold text-lg hover:bg-bg bg-bg-dark border border-border rounded-xl text-center text-text">Registro</a>
        </div>
    </div>
    }
</nav>