<nav
    class="grid grid-cols-2 items-center justify-between relative z-50 bg-bg-dark border border-border rounded-2xl mt-4 px-6 md:mt-20 md:px-12 max-w-[95vw] min-h-[70px] min-w-[95vw] md:max-h-[10vh] md:max-w-[50vw] md:min-h-[10vh] md:min-w-[50vw]">

    <!-- Enlaces / Logo -->
    <app-nav-bar-routes class="grid justify-self-start"></app-nav-bar-routes>

    <!-- Botones de Escritorio y Menú Hamburguesa Móvil -->
    <div class="grid grid-flow-col items-center justify-self-end gap-4">
        <!-- Botones de Escritorio -->
        <app-nav-bar-buttons class="hidden md:grid"></app-nav-bar-buttons>

        <!-- Botón de Menú Móvil -->
        <button (click)="toggleMenu()" class="md:hidden text-text focus:outline-none hover:bg-bg p-2 btn btn-ghost"
            aria-label="Toggle Menu">
            @if (!isMenuOpen) {
            <!-- Icono de Hamburguesa -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            } @else {
            <!-- Icono de Cerrar (X) -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            }
        </button>
    </div>

    <!-- Menú Desplegable Móvil -->
    @if (isMenuOpen) {
    <div
        class="absolute grid grid-cols-1 left-0 top-[110%] z-50 md:hidden bg-bg-dark border border-border rounded-xl shadow-lg gap-4 p-6 w-full">
        <!-- Enlaces Móviles -->
        <div class="grid grid-cols-1 text-center gap-2">
            <a routerLink="/services-it" (click)="closeMenu()"
                class="font-semibold rounded-xl text-lg text-text hover:bg-bg p-3 btn btn-ghost w-full">Servicio</a>
            <a routerLink="/contact" (click)="closeMenu()"
                class="font-semibold rounded-xl text-lg text-text hover:bg-bg p-3 btn btn-ghost w-full">Contacto</a>
        </div>
        <!-- Divisor -->
        <div class="border-border border-t my-1"></div>
        <!-- Botones Móviles -->
        <div class="grid grid-cols-1 gap-3">
            <a routerLink="/login" (click)="closeMenu()"
                class="bg-text font-semibold rounded-xl text-bg text-center text-lg hover:bg-text-muted py-4 btn w-full">Log
                in</a>
            <a routerLink="/sign-up" (click)="closeMenu()"
                class="bg-bg-dark border border-border font-semibold rounded-xl text-center text-lg text-text hover:bg-bg py-4 btn w-full">Registro</a>
        </div>
    </div>
    }
</nav>