


body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #1a1a19;
}



.barra-superior{
    background-color: #464542; /* Color de fondo del rectángulo */
    color: #fff; /* Color del texto dentro del rectángulo */
    width: auto;
    height: 80px;
    padding: auto;
    padding-left: 50px;
    font-size: larger;
    margin-bottom: 0;
}

.barra-superior nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-superior ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el espacio interno de la lista */
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
}

.barra-superior nav ul li {
    margin-right: 100px; /* Espacio entre los elementos de lista */
}

.Elemnto-barra1 li{
    color: #fff;
    font-size: larger;
    font-weight: bold;
}

.derecha {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Centra los elementos verticalmente */

}

.Elemnto-barra2 {
    color: #fff;
    font-size: larger;
    font-weight: bold;
    margin-right: 50px;
}

.Elemnto-barra3 {
    color: #fff;
    font-size: larger;
    font-weight: bold;
    margin-right: 50px;
}

.rectangulo{
    background-color: black;
    display: block;
    color: #fff;
    border: none;
    height: 35px;
    width: 120px;
    font-size: medium; 
    font-weight: bold;

}

.rectangulo a {
    text-decoration: none;
    color: inherit; /* Hace que el color del enlace sea el mismo que el del texto circundante */
}

main{
    background-color: #1a1a19;
    color: #fff;
    padding-top: 1rem;
}

.Contenido{
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.Contenido p{
    width: 6cm;
    text-align: left;
    
}

.Contenido button{
    background-color:black;
    color: #fff;
    border: none;
    height: 35px;
    width: 120px;
    font-size: medium;
    
    
}

.Contenido2{
    background-color: #464542;
    padding-left: 2rem;
    width: 50%;
    padding-bottom: 2rem;
    border-color: #fff;
    border-width: 4px;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}





.Contenido2 p{
    width: 6cm;
    text-align: left;
}

.Contenido2 button{
    background-color:black;
    color: #fff;
    border: none;
    height: 35px;
    width: 120px;
    font-size: medium;
}


