body{
    background-color: #464542;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.barra-superior {
    background-color: #464542; /* Color de fondo del rectángulo */
    color: #fff; /* Color del texto dentro del rectángulo */
    margin: auto;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3); /* Sombra blanca */
    height: 2cm;
    width: 26cm;
}

.barra-superior nav ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el espacio interno de la lista */
}

.barra-superior nav ul li {
    display: inline; /* Muestra los elementos de lista en línea */
    margin-right: 10px; /* Espacio entre los elementos de lista */
}


.rectangulo-negro{
    background-color: black;
    padding: 15px 30px;
    
}

.rectangulo-gris{
    border: 1px solid black; /* Ancho, estilo y color del borde */
    padding: 14px 30px; /* Ajusta según tus necesidades */
    margin-left: -15px;
    
}

.Elemnto-barra1{
    font-size: 200%;
    position: relative;
    top: 0px;
    left: 5%;
    font-weight: 900;
}

.Elemnto-barra2{
    position: relative;
    top: -5px;
    left: 20%;
    font-size: x-large;
}

.Elemnto-barra3{
    position: relative;
    top: -5px;
    left: 35%;
    font-size: x-large;
}



.Cuadro-registro-login{
    position: relative;
    left: 77%;
    top: -25px;
    font-weight: bold;
}

.reactangulo-negro-encabezado{
    background-color: #1a1a19;
    width: 390px; /* Especifica el ancho del rectángulo */
    height: 230px; /* Especifica la altura del rectángulo */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    position: relative;
    left: 55%;
    bottom: 5cm;
    
}

h1{
    color:  #fff;
    text-align: center;
    margin-top: 100px;
    
}














