body{
    background-color: #464542;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.barra-superior {
    background-color: #464542; /* Color de fondo del rectángulo */
    color: #fff; /* Color del texto dentro del rectángulo */
    margin: auto;
    padding: auto;
    margin-top: 40px;
    width: 30cm; /* Ancho completo */
    height: 3cm; /* Altura del rectángulo */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3); /* Sombra blanca */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: baseline; /* Centra horizontalmente los elementos */
}

.barra-superior nav ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el espacio interno de la lista */
}

.barra-superior nav ul li {
    display: inline; /* Muestra los elementos de lista en línea */
}


.rectangulo-negro{
    background-color: black;
    padding: 15px 30px;
    
}

.rectangulo-gris{
    border: 1px solid black; /* Ancho, estilo y color del borde */
    padding: 14px 30px; /* Ajusta según tus necesidades */
    margin-left: -15px;
    
}

.Elemnto-barra1{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 35px;
}

.Elemnto-barra2{
    font-size: x-large;
    font-weight: bold;
    margin-left: 200px;

    
}

.Elemnto-barra3{
    font-size: x-large;
    font-weight: bold;
    margin-left: 150px;
    
}



.Cuadro-registro-login{
    font-weight: bold;
    margin-left: 230px;
    
}



.reactangulo-negro-encabezado{
    background-color: #1a1a19;
    width: 390px; /* Especifica el ancho del rectángulo */
    height: 230px; /* Especifica la altura del rectángulo */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    position: relative;
    left: 55%;
    bottom: 5cm;
    
}

h1{
    color:  #fff;
    text-align: center;
    margin-top: 100px;
    font-weight: normal;
    
}

h2 .bg{
    font-size: 40px;
    display: inline-flex; /* permite centrar en ambas direcciones */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    color: #fff;
   
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-left: 510px;
}

h3 .bg{
    font-size: xx-large;
    font-weight: normal;
    display: inline-flex; /* permite centrar en ambas direcciones */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    color: #fff;
    
    width: 700px;
    height: 200px;
    text-align: center;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-left: 420px;

}

h3 {
    margin-top: -150px;
}

.reactangulo-negro-encabezado{
    background-color: #1a1a19;
    width: 590px; /* Especifica el ancho del rectángulo */
    height: 350px; /* Especifica la altura del rectángulo */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    position: relative;
    left: 50%;
    bottom: 8cm;
    
}














