body{
    background-color: #464542;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.barra-superior {
    background-color: #464542; /* Color de fondo del rectángulo */
    color: #fff; /* Color del texto dentro del rectángulo */
    margin: auto;
    padding: auto;
    margin-top: 40px;
    width: 30cm; /* Ancho completo */
    height: 3cm; /* Altura del rectángulo */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3); /* Sombra blanca */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: baseline; /* Centra horizontalmente los elementos */
}

.barra-superior nav ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0; /* Elimina el espacio interno de la lista */
}

.barra-superior nav ul li {
    display: inline; /* Muestra los elementos de lista en línea */
}

.rectangulo-negro, .rectangulo-gris, .Bloque-infraestructura, .rectangulo-empieza-ahora {
    font-family: inherit !important;
}


.rectangulo-negro {  
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #1a1a19;
    padding: 15px 25px;
    margin-left: -45px;
    cursor: pointer;
    border: 2px solid #1a1a19;
    box-shadow: none;
    outline: none;
    transition: none;
    animation: none;
    
}

.rectangulo-gris {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding: 15px 25px;
    cursor: pointer;
    border: 2px solid #1a1a19;
    background: none;
    box-shadow: none;
    outline: none;
    transition: none;
    animation: none;

}



.Elemnto-barra1{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 35px;
}

.Elemnto-barra2{
    font-size: x-large;
    font-weight: bold;
    margin-left: 200px;

    
}

.Elemnto-barra3{
    font-size: x-large;
    font-weight: bold;
    margin-left: 150px;
    
}



.Cuadro-registro-login{
    font-weight: bold;
    margin-left: 230px;
    
}



.reactangulo-negro-encabezado{
    background-color: #1a1a19;
    width: 390px; /* Especifica el ancho del rectángulo */
    height: 230px; /* Especifica la altura del rectángulo */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    position: relative;
    left: 55%;
    bottom: 5cm;
    
}

h1{
    color:  #fff;
    text-align: center;
    margin-top: 100px;
    font-weight: normal;
    
}

h2 .bg{
    font-size: 40px;
    display: inline-flex; /* permite centrar en ambas direcciones */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    color: #fff;
    width: 500px;
    height: 300px;
    text-align: center;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-left: 510px;
}

h3 .bg{
    font-size: xx-large;
    font-weight: normal;
    display: inline-flex; /* permite centrar en ambas direcciones */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    color: #fff;
    width: 700px;
    height: 200px;
    text-align: center;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-left: 420px;

}

h3 {
    margin-top: -150px;
}

.reactangulo-negro-encabezado{
    background-color: #1a1a19;
    width: 590px; /* Especifica el ancho del rectángulo */
    height: 350px; /* Especifica la altura del rectángulo */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    position: relative;
    left: 50%;
    bottom: 8cm;
    
}

.rectangulo-empieza-ahora{
    background-color: #969592;
    display: inline-flex; /* permite centrar en ambas direcciones */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    color: #1a1a19;
    border: 1px solid black; /* Ancho, estilo y color del borde */
    font-weight: bold;
    font-size: larger;
    width: 425px;
    height: 50px;
    margin-left: 550px;
    position: relative;
    bottom: 325px;
    cursor: pointer;
}

.información-empresa{
    background-color: #1a1a19;
    padding-bottom: 150px;
    
}

.titulo-información{
    color: #fff;
    font-weight: bold;
    padding-top: 50px;
    font-size: xx-large;
}

.sub-información{
    color: #fff;
    font-weight: semi-bold;
    text-align: center;
    font-size: 50px;
    
}

.Pequeño-titulo-main{
    color: #fff;
    text-align: center;
    font-size: x-large;
    position: relative;
    top: 125px;
}

.bloque-gris-main {
  background-color: #464542;
  width: 1100px;
  height: 700px;
  display: block;                   /* asegurarse que sea elemento de bloque */
  margin: 225px 675px 0 auto;         /* arriba 20px, derecha 30px, abajo 0, left auto → alinea a la derecha */
}

h4{
    color: #fff;
    font-size: xx-large;
    display: block;
    justify-content: left;
    margin-left: 200px;
    margin-top: 100px;
}

h5{
    color: #fff;
    font-size: 50px;
    margin-left: 200px;
    margin-top: 50px;
    width: 500px;

}

p{
    color: #fff;
    font-size: x-large;
    margin-left: 200px;
    margin-top: -40px;
    width: 500px;
}

.bloque-gris-main2{
    background-color:#464542 ; /* Color de fondo del bloque dentro del fondo */
    width: 700px;
    height: 500px;
    display: block;
    margin: -475px 1000px 200px auto;         /* arriba 20px, derecha 30px, abajo 0, left auto → alinea a la derecha */
    
    
    

}

h6{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -55px;
}




.Bloque-infraestructura{
    background-color: #969592;
    display: inline-flex; /* permite centrar en ambas direcciones */
    align-items: center; /* centra verticalmente */
    justify-content: center; /* centra horizontalmente */
    color: #1a1a19;
    border: 1px solid black; /* Ancho, estilo y color del borde */
    font-weight: bold;
    font-size: larger;
    margin: auto;
    padding: auto;
    width: 625px;
    height: 55px;
    display: flex; /* Utiliza flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: baseline; /* Centra horizontalmente los elementos */
    cursor: pointer;
    
}











